<script id='new-form-tmpl' type="text/x-jquery-tmpl">
  <form id='new-form'>
    <div class='section'>
      <div class='label'>Personal information:</div>
      <div class='wrapper'>
        <%= input 'first_name', 'First name', :width => 250 %>
        <%= input 'last_name', 'Last name', :width => 250 %>
      </div>
      <div class='wrapper'>
        <%= input 'sin', 'Social insurance number', :width => 200 %>
        <%= input 'date_of_birth', 'Date of birth', :width => 300 %>
      </div>
      <div class='wrapper'>
        <%= input 'email', 'Email', :width => 502 %>
      </div>
    </div>

    <div class='section'>
      <div class='label'>Current Address:</div>
      <div class='wrapper'>
        <%= input 'street', 'Street and number', :width => 500 %>
      </div>
      <div class='wrapper'>
        <%= input 'city', 'City', :width => 205 %>
        <%= input 'province', 'Province', :width => 145 %>
        <%= input 'postal', 'Postal code', :width => 145 %>
      </div>
    </div>

    <div id='section-submit' class='wrapper'>
      <input type='button' id='submit-new-form' value='Submit'/>
    </div>
  </form>
</script>

