<!DOCTYPE html>
%html
  %body
    %head
      %title Rentals
      = stylesheet_link_tag :all
      = javascript_include_tag "jquery-1.6.1.min.js"
      = javascript_include_tag "rails.js"
      = javascript_include_tag "jquery.tmpl.min.js"
      = csrf_meta_tag
      = yield :head
    = yield
